@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <!--Logo-->
    <h2>Ward Grove</h2>
</div>
<!--Nav-->
<!--Map-->
<!--Initial Blurb / Image -->
<p>
    Join us at Ward Grove Christmas Tree Farm as your family
    builds memories that will last for years. Beautifully shaped
    White Pine and Virginia Pine up to fourteen feet tall are
    grown and cared for on a family farm where you can choose
    the perfect tree.
</p>
<!--About Us-->
<p>
    Ward Grove Christmas Tree Farm has been in our family
    since the 1830's. For many years the crops were cotton,
    soybeans, corn, truck farming and livestock. When Roy and
    Sue relocated to Jackson in 1986 the first Christmas trees
    were planted. In 1990, choose and cut sales began with a
    farm wagon at the center of operations. With the addition
    of our rustic cabin and mule-driven wagon rides in 1993,
    families began looking to our farm as an important
    Christmas tradition.
    <br />
    Our farm is still a family operation with Roy, Sue, Ricky,
    Emily, her husband Robbie, and Jesse still working on the
    farm. The next generation of Sam, Christie, Kevin, and
    Marian are waiting in the wings to join us.
</p>
<!--Our Trees-->
<h2>The Virginia Pine</h2>
<p>
    The emergence of the choose-and-cut Christmas tree industry in the southeast
    was based largely on the Virginia pine. The needles of this tree are soft,
    sometimes twisted, and range in length from 1.5 to 3 inches in length. This
    tree has a pleasant pine fragrance and good needle retention
</p>
<!--Wreaths and Tree Care-->
<!--Contact-->
<!--Footer/Social-->
