@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <!--Logo-->
    <h2>Ward Grove</h2>
</div>
<!--Nav-->
<!--Map-->
<!--Initial Blurb / Image -->
<!--About Us--> 
<!--Our Trees-->
<!--Wreaths and Tree Care-->
<!--Contact-->
<!--Footer/Social-->
