@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<div class="container" ">
    <h2>Ward Grove</h2>
</div>

<div class="container">

</div>