@{
    ViewData["Title"] = "Home Page";
}

<!--Map-->
<!--Initial Blurb / Image -->
<div class="row">
    <div class="col">
        <div id="wardGrove">
    </div>
    </div>
</div>
    <div class="row" id="home">
        <div class="col">
            <img class="imageSizing" src="~/images/SmallFamily.png" />
            </div>
        </div>
        <div class="row">
             <div class="col">
        
<p>
    
    Join us at Ward Grove Christmas Tree Farm as your family
    builds memories that will last for years. Beautifully shaped
    White Pine and Virginia Pine up to fourteen feet tall are
    grown and cared for on a family farm where you can choose
    the perfect tree.
</p>
            </div>
        </div>
    
<!--About Us-->
<div class="row" id="about">
    <div class="col sectionHeading">
        <h2>About Us</h2>
    </div>
</div>

<div class="row">
    <div class="col ">
        <img class="imageSizing" src="~/images/BigFamily.png" />
        </div>
    </div>
    <div class="row">
    <div class="col">
<p>
    Ward Grove Christmas Tree Farm has been in our family
    since the 1830's. For many years the crops were cotton,
    soybeans, corn, truck farming and livestock. When Roy and
    Sue relocated to Jackson in 1986 the first Christmas trees
    were planted. In 1990, choose and cut sales began with a
    farm wagon at the center of operations. With the addition
    of our rustic cabin and mule-driven wagon rides in 1993,
    families began looking to our farm as an important
    Christmas tradition.
    <br />
    Our farm is still a family operation with Roy, Sue, Ricky,
    Emily, her husband Robbie, and Jesse still working on the
    farm. The next generation of Sam, Christie, Kevin, and
    Marian are waiting in the wings to join us.
</p>
    </div>
</div>

<!--Our Trees-->
<div class="row" id="trees">
    <div class="col sectionHeading">
        <h2>Our Trees</h2>

    </div>
</div>
<div class="row" >
    <div class="col">
<img class="priceTagImg" src="~/images/SixDollars.png" />

    </div>
</div>
<div class="row" >
    <div class="col">
<img class="imageSizing" src="~/images/VirginiaPine.png" />

    </div>
</div>
<div class="row" >
    <div class="col treeNames">
<h2>The Virginia Pine</h2>

    </div>
</div>
<div class="row" >
    <div class="col">
<p>
    The emergence of the choose-and-cut Christmas tree industry in the southeast
    was based largely on the Virginia pine. The needles of this tree are soft,
    sometimes twisted, and range in length from 1.5 to 3 inches in length. This
    tree has a pleasant pine fragrance and good needle retention
</p>
    </div>
</div>

<div class="row" >
    <div class="col">
<img class="priceTagImg" src="~/images/SevenDollars.png" />

    </div>
</div>
<div class="row" >
    <div class="col">
<img class="imageSizing" src="~/images/WhitePine.png" />

    </div>
</div>
<div class="row" >
    <div class="col treeNames">
<h2>The White Pine</h2>

    </div>
</div>

<div class="row" >
    <div class="col">
<p>
    The Eastern White Pine has been grown as a Christmas tree in the U.S. for
    many years. The needles of this tree are soft and flexible, blue green in color,
    and 2.5 to 5 inches in length. Needle retention is excellent. The White Pine has
    a mild pleasant fragrance.
</p>
    </div>
</div>

<!--Wreaths and Tree Care-->
<div class="row" id="other">
    <div class="col sectionHeading otherSection">
        <h2>Wreaths + Tree Care</h2>

    </div>
</div>
<div class="row" >
    <div class="col">
<img class="imageSizing" src="~/images/Wreath.png" />

    </div>
</div>
<div class="row" >
    <div class="col">
<p>
    Handmade wreaths are available for $16 to $20 each.

    They may be reserved by calling ahead.

    Keeping your tree healthy and happy during the
    holiday season is very important. So while enjoying
    your tree, there are a few things you should do.

    Follow the link to the <a href="http://www.realchristmastrees.org/">National Christmas Tree Association</a> for more details.
</p>
    </div>
</div>

<!--Contact-->
<div class="row" id="contact">
    <div class="col sectionHeading">
        <h2>Contact Us</h2>

    </div>
</div>
<div class="row contactRows">
<div class="row">
    <div class="col text-center">
        
    Ward Grove Christmas Tree Farm
        </div>
    </div>

    <div class="row">
    <div class="col text-center">
    Roy and Sue Ward
        </div>
    </div>

    <div class="row">
    <div class="col text-center">
    20 Ward Road
        </div>
    </div>

    <div class="row">
    <div class="col text-center">
    Beech Bluff, TN 38313
         </div>
    </div>

    <div class="row">
    <div class="col text-center">
    731-427-2682
         </div>
    </div>

    <div class="row">
    <div class="col text-center">
    treefarmmail@bellsouth.net
         </div>
</div>
    </div>

<!--Footer/Social-->
<script>
      function initMap() {
    
        var wardGrove = {lat: 35.545299, lng: -88.636786};
        var map = new google.maps.Map(document.getElementById('wardGrove'), {
          zoom: 15,
          center: wardGrove
        });
        var latLong = new google.maps.LatLng(35.545547, -88.640287);
    var Marker = new google.maps.Marker({
    position:latLong, 
    map:map
    })
      }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjIxkvWvevwkxGuiNGChQwRu21_nIxMas&callback=initMap">
</script>